*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0a0a0a7e;
}

.item {
    height: 500px;
    width: 300px;
    background-color: rgba(20, 8, 8, 0.495);
    text-align: center;
}

img {
  height: 90px;
  width: 90px;
  border-radius: 100px;
  margin: 35px 0 20px 0;
  border: 2px solid;
}
.name {
font-size: 25px;
color: white;
font-weight: 100;
margin-bottom: 5px;
}

h5 {
    color: rgba(172, 255, 47, 0.682);
    font-size: 13px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
}

p {
    color: rgba(209, 190, 190, 0.819);
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 15px;
}

button {
    height: 40px;
    width: 250px;
    margin-bottom: 5px;
    color: white;
    background-color: rgba(128, 128, 128, 0.357);
    font-size: 13px;
    border-radius: 10px;
}
